In [ ]:
import pandas as pd
import numpy as np
import datetime as dt

In [ ]:
pd.options.display.max_columns = 100

#### expenses

In [ ]:
expenses = pd.read_csv('Gastos_totales.csv', encoding='utf-8')

In [ ]:
expenses['Código Concepto'] = expenses['Código Concepto'].astype('int64')
expenses['Código Concepto'] = expenses['Código Concepto'].astype(str)

In [ ]:
expenses.head()

,Código FUT,Nombre Entidad,Cód. DANE Departamento,Nombre DANE Departamento,Cód. DANE Municipio,Nombre DANE Municipio,Código Concepto,Concepto,Código Unidad Ejecutora,Unidad Ejecutora,Código Fuente Financiación,Fuente Financiación,Presupuesto Inicial,Presupuesto Definitivo,Compromisos,Obligaciones,Pagos,Año,Nivel categoria,key,categoria
0,210111001.0,BOGOTA D.C.,11.0,BOGOTA. D.C.,11001.0,BOGOTA. D.C.,1,TOTAL GASTOS DE FUNCIONAMIENTO,7,SECRETARIA DE SALUD,otros,otros,4.836182e+10,6.225237e+10,5.668070e+10,5.288618e+10,5.288618e+10,2012.0,1.0,11001_2012,ESP
1,210111001.0,BOGOTA D.C.,11.0,BOGOTA. D.C.,11001.0,BOGOTA. D.C.,1,TOTAL GASTOS DE FUNCIONAMIENTO,7,SECRETARIA DE SALUD,otros,otros,5.018680e+10,5.417503e+10,4.224405e+10,3.508672e+10,3.508672e+10,2013.0,1.0,11001_2013,ESP
2,210111001.0,BOGOTA D.C.,11.0,BOGOTA. D.C.,11001.0,BOGOTA. D.C.,1,TOTAL GASTOS DE FUNCIONAMIENTO,7,SECRETARIA DE SALUD,otros,otros,7.426783e+10,7.426078e+10,3.985442e+10,3.471929e+10,3.471929e+10,2014.0,1.0,11001_2014,ESP
3,210111001.0,BOGOTA D.C.,11.0,BOGOTA. D.C.,11001.0,BOGOTA. D.C.,1,TOTAL GASTOS DE FUNCIONAMIENTO,7,SECRETARIA DE SALUD,otros,otros,7.395160e+10,7.499377e+10,5.240465e+10,4.651107e+10,4.651107e+10,2015.0,1.0,11001_2015,ESP
4,210111001.0,BOGOTA D.C.,11.0,BOGOTA. D.C.,11001.0,BOGOTA. D.C.,1,TOTAL GASTOS DE FUNCIONAMIENTO,7,SECRETARIA DE SALUD,otros,otros,7.872114e+10,7.813951e+10,5.460258e+10,4.716668e+10,4.716668e+10,2016.0,1.0,11001_2016,ESP

In [ ]:
expenses = expenses.loc[expenses['Código Concepto'] == '1']

In [ ]:
expenses.columns

Index(['Código FUT', 'Nombre Entidad', 'Cód. DANE Departamento',
       'Nombre DANE Departamento', 'Cód. DANE Municipio',
       'Nombre DANE Municipio', 'Código Concepto', 'Concepto',
       'Código Unidad Ejecutora', 'Unidad Ejecutora',
       'Código Fuente Financiación', 'Fuente Financiación',
       'Presupuesto Inicial', 'Presupuesto Definitivo', 'Compromisos',
       'Obligaciones', 'Pagos', 'Año', 'Nivel categoria', 'key', 'categoria'],
      dtype='object')

In [ ]:
expenses = expenses[['Cód. DANE Departamento','Nombre DANE Departamento', 'Cód. DANE Municipio','Nombre DANE Municipio', 'Concepto','Unidad Ejecutora',
          'Presupuesto Inicial', 'Presupuesto Definitivo', 'Compromisos','Obligaciones', 'Pagos', 'Año','categoria']]

In [ ]:
expenses['Cód. DANE Municipio'] = expenses['Cód. DANE Municipio'].astype('int64')

In [ ]:
expenses['Unidad Ejecutora'] = expenses['Unidad Ejecutora'].replace({'UNIDAD DE SERVICIOS PUBLICOS - SOLO MUNICIPIOS':'UNIDAD DE SERVICIOS PUBLICOS',
                                                                     'PERSONERIA - SOLO MUNICIPIOS':'PERSONERIA','CONCEJO - SOLO MUNICIPIOS':'CONCEJO'})

In [ ]:
expenses.head(2)

,Cód. DANE Departamento,Nombre DANE Departamento,Cód. DANE Municipio,Nombre DANE Municipio,Concepto,Unidad Ejecutora,Presupuesto Inicial,Presupuesto Definitivo,Compromisos,Obligaciones,Pagos,Año,categoria
0,11.0,BOGOTA. D.C.,11001,BOGOTA. D.C.,TOTAL GASTOS DE FUNCIONAMIENTO,SECRETARIA DE SALUD,4.836182e+10,6.225237e+10,5.668070e+10,5.288618e+10,5.288618e+10,2012.0,ESP
1,11.0,BOGOTA. D.C.,11001,BOGOTA. D.C.,TOTAL GASTOS DE FUNCIONAMIENTO,SECRETARIA DE SALUD,5.018680e+10,5.417503e+10,4.224405e+10,3.508672e+10,3.508672e+10,2013.0,ESP

In [ ]:
expenses['Cód. DANE Municipio'] = expenses['Cód. DANE Municipio'].astype(str)
expenses['Año'] = expenses['Año'].astype('int64')
expenses['Año'] = expenses['Año'].astype(str)
expenses['key'] = expenses['Cód. DANE Municipio'] + '_' + expenses['Año']

In [ ]:
expenses[['Presupuesto Inicial','Presupuesto Definitivo','Compromisos','Obligaciones','Pagos']] = expenses[['Presupuesto Inicial','Presupuesto Definitivo','Compromisos','Obligaciones','Pagos']].astype('int64')

In [ ]:
expenses = expenses.loc[expenses['Año'] != '2021']

In [ ]:
expenses.head()

,Cód. DANE Departamento,Nombre DANE Departamento,Cód. DANE Municipio,Nombre DANE Municipio,Concepto,Unidad Ejecutora,Presupuesto Inicial,Presupuesto Definitivo,Compromisos,Obligaciones,Pagos,Año,categoria,key
0,11.0,BOGOTA. D.C.,11001,BOGOTA. D.C.,TOTAL GASTOS DE FUNCIONAMIENTO,SECRETARIA DE SALUD,48361823000,62252369000,56680701000,52886182000,52886182000,2012,ESP,11001_2012
1,11.0,BOGOTA. D.C.,11001,BOGOTA. D.C.,TOTAL GASTOS DE FUNCIONAMIENTO,SECRETARIA DE SALUD,50186796000,54175030000,42244047000,35086722000,35086722000,2013,ESP,11001_2013
2,11.0,BOGOTA. D.C.,11001,BOGOTA. D.C.,TOTAL GASTOS DE FUNCIONAMIENTO,SECRETARIA DE SALUD,74267833000,74260779000,39854420000,34719293000,34719293000,2014,ESP,11001_2014
3,11.0,BOGOTA. D.C.,11001,BOGOTA. D.C.,TOTAL GASTOS DE FUNCIONAMIENTO,SECRETARIA DE SALUD,73951605000,74993766000,52404647000,46511067000,46511067000,2015,ESP,11001_2015
4,11.0,BOGOTA. D.C.,11001,BOGOTA. D.C.,TOTAL GASTOS DE FUNCIONAMIENTO,SECRETARIA DE SALUD,78721142000,78139508000,54602575000,47166685000,47166685000,2016,ESP,11001_2016

In [ ]:
expenses.Año.unique()

array(['2012', '2013', '2014', '2015', '2016', '2017', '2018', '2019',
       '2020'], dtype=object)

In [ ]:
expenses.to_csv('expenses.csv', encoding='utf-8', index=False)

#### incomes

In [ ]:
incomes = pd.read_csv('incomes.csv', encoding='utf-8')

In [ ]:
incomes['Cód. DANE Municipio'] = incomes['Cód. DANE Municipio'].astype('int64')
incomes['Cód. DANE Municipio'] = incomes['Cód. DANE Municipio'].astype(str)
incomes['año'] = incomes['año'].astype(str)

incomes['key'] = incomes['Cód. DANE Municipio'] + '_' + incomes['año']

In [ ]:
incomes.to_csv('incomes.csv', encoding='utf-8', index=False)

#### expenses level 2

In [ ]:
expenses_lev_2 = pd.read_csv('Gastos_Nivel_2.csv', encoding='utf-8')

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2882: DtypeWarning: Columns (20) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [ ]:
expenses_lev_2.Concepto.unique()

array(['GASTOS GENERALES', 'TRANSFERENCIAS CORRIENTES',
       'GASTOS DE PERSONAL', 'PAGO DEFICIT DE FUNCIONAMIENTO',
       'COSTOS Y GASTOS ASOCIADOS A LA OPERACION. PRODUCCION Y COMERCIALIZACION',
       'TRANSFERENCIAS DE CAPITAL'], dtype=object)

In [ ]:
expenses_lev_2 = expenses_lev_2[['Cód. DANE Departamento','Nombre DANE Departamento', 'Cód. DANE Municipio','Nombre DANE Municipio', 'Concepto','Unidad Ejecutora',
          'Presupuesto Inicial', 'Presupuesto Definitivo', 'Compromisos','Obligaciones', 'Pagos', 'Año','Nivel categoria']]

In [ ]:
expenses_lev_2['Cód. DANE Municipio'] = expenses_lev_2['Cód. DANE Municipio'].astype('int64')
expenses_lev_2['Unidad Ejecutora'] = expenses_lev_2['Unidad Ejecutora'].replace({'UNIDAD DE SERVICIOS PUBLICOS - SOLO MUNICIPIOS':'UNIDAD DE SERVICIOS PUBLICOS',
                                                                     'PERSONERIA - SOLO MUNICIPIOS':'PERSONERIA','CONCEJO - SOLO MUNICIPIOS':'CONCEJO'})

expenses_lev_2['Cód. DANE Municipio'] = expenses_lev_2['Cód. DANE Municipio'].astype(str)
expenses_lev_2['Año'] = expenses_lev_2['Año'].astype('int64')
expenses_lev_2['Año'] = expenses_lev_2['Año'].astype(str)
expenses_lev_2['key'] = expenses_lev_2['Cód. DANE Municipio'] + '_' + expenses_lev_2['Año']

In [ ]:
expenses_lev_2[['Presupuesto Inicial','Presupuesto Definitivo','Compromisos','Obligaciones','Pagos','Nivel categoria']] = expenses_lev_2[['Presupuesto Inicial','Presupuesto Definitivo','Compromisos','Obligaciones','Pagos','Nivel categoria']].astype('int64')

In [ ]:
expenses_lev_2.head()

,Cód. DANE Departamento,Nombre DANE Departamento,Cód. DANE Municipio,Nombre DANE Municipio,Concepto,Unidad Ejecutora,Presupuesto Inicial,Presupuesto Definitivo,Compromisos,Obligaciones,Pagos,Año,Nivel categoria,key
0,11.0,BOGOTA. D.C.,11001,BOGOTA. D.C.,GASTOS GENERALES,SECRETARIA DE SALUD,10601234000,10511234000,7576959000,4999595000,4999595000,2012,2,11001_2012
1,11.0,BOGOTA. D.C.,11001,BOGOTA. D.C.,GASTOS GENERALES,SECRETARIA DE SALUD,9889653000,9865910000,8036452000,4444629000,4444629000,2013,2,11001_2013
2,11.0,BOGOTA. D.C.,11001,BOGOTA. D.C.,GASTOS GENERALES,SECRETARIA DE SALUD,11893139000,11884586000,10120991000,5935807000,5935807000,2014,2,11001_2014
3,11.0,BOGOTA. D.C.,11001,BOGOTA. D.C.,GASTOS GENERALES,SECRETARIA DE SALUD,12833901000,13389245000,12141652000,7343510000,7343510000,2015,2,11001_2015
4,11.0,BOGOTA. D.C.,11001,BOGOTA. D.C.,GASTOS GENERALES,SECRETARIA DE SALUD,13768071000,14352935000,11586666000,6453353000,6453353000,2016,2,11001_2016

In [ ]:
expenses_lev_2.to_csv('expenses_nivel_2.csv', encoding='utf-8', index=False)

#### expenses level 3

In [ ]:
expenses_lev_3 = pd.read_csv('Gastos_Nivel_3.csv', encoding='utf-8')

In [ ]:
expenses_lev_3 = expenses_lev_3[['Cód. DANE Departamento','Nombre DANE Departamento', 'Cód. DANE Municipio','Nombre DANE Municipio', 'Concepto','Unidad Ejecutora',
          'Presupuesto Inicial', 'Presupuesto Definitivo', 'Compromisos','Obligaciones', 'Pagos', 'Año','Nivel categoria']]

In [ ]:
expenses_lev_3['Cód. DANE Municipio'] = expenses_lev_3['Cód. DANE Municipio'].astype('int64')
expenses_lev_3['Unidad Ejecutora'] = expenses_lev_3['Unidad Ejecutora'].replace({'UNIDAD DE SERVICIOS PUBLICOS - SOLO MUNICIPIOS':'UNIDAD DE SERVICIOS PUBLICOS',
                                                                     'PERSONERIA - SOLO MUNICIPIOS':'PERSONERIA','CONCEJO - SOLO MUNICIPIOS':'CONCEJO'})

expenses_lev_3['Cód. DANE Municipio'] = expenses_lev_3['Cód. DANE Municipio'].astype(str)
expenses_lev_3['Año'] = expenses_lev_3['Año'].astype('int64')
expenses_lev_3['Año'] = expenses_lev_3['Año'].astype(str)
expenses_lev_3['key'] = expenses_lev_3['Cód. DANE Municipio'] + '_' + expenses_lev_3['Año']

In [ ]:
expenses_lev_3.head()

,Cód. DANE Departamento,Nombre DANE Departamento,Cód. DANE Municipio,Nombre DANE Municipio,Concepto,Unidad Ejecutora,Presupuesto Inicial,Presupuesto Definitivo,Compromisos,Obligaciones,Pagos,Año,Nivel categoria,key
0,11.0,BOGOTA. D.C.,11001,BOGOTA. D.C.,SERVICIOS PERSONALES ASOCIADOS A LA NOMINA,UNIDAD DE SERVICIOS PUBLICOS,2678909000,5860278000,5741538000,5741538000,5741538000,2012,3,11001_2012
1,11.0,BOGOTA. D.C.,11001,BOGOTA. D.C.,SERVICIOS PERSONALES ASOCIADOS A LA NOMINA,UNIDAD DE SERVICIOS PUBLICOS,8459821000,8501955000,8152174000,8140040000,8140040000,2013,3,11001_2013
2,11.0,BOGOTA. D.C.,11001,BOGOTA. D.C.,SERVICIOS PERSONALES ASOCIADOS A LA NOMINA,UNIDAD DE SERVICIOS PUBLICOS,8925821000,8473573000,8368930000,8368930000,8368930000,2014,3,11001_2014
3,11.0,BOGOTA. D.C.,11001,BOGOTA. D.C.,SERVICIOS PERSONALES ASOCIADOS A LA NOMINA,UNIDAD DE SERVICIOS PUBLICOS,9232598000,9232578000,8643832000,8643832000,8643832000,2015,3,11001_2015
4,11.0,BOGOTA. D.C.,11001,BOGOTA. D.C.,SERVICIOS PERSONALES ASOCIADOS A LA NOMINA,UNIDAD DE SERVICIOS PUBLICOS,10089250000,10089235000,9588930000,9588930000,9588930000,2016,3,11001_2016

In [ ]:
expenses_lev_3[['Presupuesto Inicial','Presupuesto Definitivo','Compromisos','Obligaciones','Pagos','Nivel categoria']] = expenses_lev_3[['Presupuesto Inicial','Presupuesto Definitivo','Compromisos','Obligaciones','Pagos','Nivel categoria']].astype('int64')

In [ ]:
expenses_lev_3.to_csv('expenses_nivel_3.csv', encoding='utf-8', index=False)

#### concatenate expenses

In [ ]:
expenses_levels = pd.concat([expenses_lev_2,expenses_lev_3], ignore_index=True)

In [ ]:
categorias = pd.read_csv('categories.csv')

In [ ]:
categorias = categorias[['key','categoria']]
expenses_levels = pd.merge(expenses_levels, categorias, how='left', on='key', validate='many_to_one')

In [ ]:
expenses_levels = expenses_levels.loc[expenses_levels['Concepto'] != 'CIFRAS DE CONTROL PARA LOS GASTOS DE FUNCIONAMIENTO']

In [ ]:
expenses_levels.head()

,Cód. DANE Departamento,Nombre DANE Departamento,Cód. DANE Municipio,Nombre DANE Municipio,Concepto,Unidad Ejecutora,Presupuesto Inicial,Presupuesto Definitivo,Compromisos,Obligaciones,Pagos,Año,Nivel categoria,key,categoria
0,11.0,BOGOTA. D.C.,11001,BOGOTA. D.C.,GASTOS GENERALES,SECRETARIA DE SALUD,10601234000,10511234000,7576959000,4999595000,4999595000,2012,2,11001_2012,ESP
1,11.0,BOGOTA. D.C.,11001,BOGOTA. D.C.,GASTOS GENERALES,SECRETARIA DE SALUD,9889653000,9865910000,8036452000,4444629000,4444629000,2013,2,11001_2013,ESP
2,11.0,BOGOTA. D.C.,11001,BOGOTA. D.C.,GASTOS GENERALES,SECRETARIA DE SALUD,11893139000,11884586000,10120991000,5935807000,5935807000,2014,2,11001_2014,ESP
3,11.0,BOGOTA. D.C.,11001,BOGOTA. D.C.,GASTOS GENERALES,SECRETARIA DE SALUD,12833901000,13389245000,12141652000,7343510000,7343510000,2015,2,11001_2015,ESP
4,11.0,BOGOTA. D.C.,11001,BOGOTA. D.C.,GASTOS GENERALES,SECRETARIA DE SALUD,13768071000,14352935000,11586666000,6453353000,6453353000,2016,2,11001_2016,ESP

In [ ]:
expenses_levels.to_csv('expenses_levels.csv', encoding='utf-8', index=False)

#### Categories

In [ ]:
cgr = pd.read_csv('historico.csv', encoding='utf-8')

In [ ]:
#limpieza inicial
cgr = cgr.drop(['Unnamed: 0','codigo_cgr'], axis=1)
cgr.rename(columns={'divipola':'cod_municipio'}, inplace=True)
cgr['cod_municipio'] = cgr['cod_municipio'].astype('int64')
cgr['cod_municipio'] = cgr['cod_municipio'].astype(str)

In [ ]:
#concatenar categorias por año

years = [2013,2014,2015,2016,2017,2018,2019,2020,2021,2022]

df = cgr[['cod_municipio','departamento', 'MUNICIPIO','cat_2012']]
df['año'] = '2012'
df.rename(columns={'cat_2012':'categoria'},inplace=True)

for year in years:
  aux_df = cgr[['cod_municipio','departamento', 'MUNICIPIO',f'cat_{year}']]
  aux_df['año'] = year
  aux_df.rename(columns={f'cat_{year}':'categoria'}, inplace=True)
  df = pd.concat([df, aux_df])

In [ ]:
df['cod_municipio'] = df['cod_municipio'].astype(str)
df['año'] = df['año'].astype(str)
df['key'] = df['cod_municipio'] + '_' + df['año']

In [ ]:
df.to_csv('categories.csv',encoding='utf-8', index=False)

In [ ]:
cgr_2012 = cgr[['cod_municipio','departamento', 'MUNICIPIO','cat_2012']]
cgr_2012['año'] = '2012'
cgr_2012.rename(columns={'cat_2012':'categoria'})

cgr_2013 = cgr[['cod_municipio','departamento', 'MUNICIPIO','cat_2013']]
cgr_2013['año'] = '2013'
cgr_2013.rename(columns={'cat_2013':'categoria'})

cgr_2014 = cgr[['cod_municipio','departamento', 'MUNICIPIO','cat_2014']]
cgr_2014['año'] = '2014'
cgr_2014.rename(columns={'cat_2014':'categoria'})

cgr_2015 = cgr[['cod_municipio','departamento', 'MUNICIPIO','cat_2015']]
cgr_2014['año'] = '2014'
cgr_2014.rename(columns={'cat_2014':'categoria'})

cgr_2016 = cgr[['cod_municipio','departamento', 'MUNICIPIO','cat_2016']]
cgr_2014['año'] = '2014'
cgr_2014.rename(columns={'cat_2014':'categoria'})

cgr_2017 = cgr[['cod_municipio','departamento', 'MUNICIPIO','cat_2017']]
cgr_2014['año'] = '2014'
cgr_2014.rename(columns={'cat_2014':'categoria'})

cgr_2018 = cgr[['cod_municipio','departamento', 'MUNICIPIO','cat_2018']]
cgr_2014['año'] = '2014'
cgr_2014.rename(columns={'cat_2014':'categoria'})

cgr_2019 = cgr[['cod_municipio','departamento', 'MUNICIPIO','cat_2019']]
cgr_2014['año'] = '2014'
cgr_2014.rename(columns={'cat_2014':'categoria'})

cgr_2020 = cgr[['cod_municipio','departamento', 'MUNICIPIO','cat_2020']]
cgr_2014['año'] = '2014'
cgr_2014.rename(columns={'cat_2014':'categoria'})

cgr_2021 = cgr[['cod_municipio','departamento', 'MUNICIPIO','cat_2021']]
cgr_2014['año'] = '2014'
cgr_2014.rename(columns={'cat_2014':'categoria'})

cgr_2022 = cgr[['cod_municipio','departamento', 'MUNICIPIO','cat_2022']]
cgr_2014['año'] = '2014'
cgr_2014.rename(columns={'cat_2014':'categoria'})

#### Fiscal Performance Index

In [ ]:
idf = pd.read_excel('idf.xlsx')

In [ ]:
idf.head()

,Año,Codigo DANE,Departamento,Municipio,Indicador fiscal,Nivel de Desempeño
0,2012,5,ANTIOQUIA,ADMINISTRACIÓN DEPARTAMENTAL,71.73,SOSTENIBLE ( >=70 y <80 )
1,2012,5001,ANTIOQUIA,MEDELLÍN,83.22,SOLVENTE ( >= 80 )
2,2012,5002,ANTIOQUIA,ABEJORRAL,69.68,VULNERABLE (>=60 y <70)
3,2012,5004,ANTIOQUIA,ABRIAQUÍ,54.56,RIESGO (>=40 y <60)
4,2012,5021,ANTIOQUIA,ALEJANDRÍA,59.52,RIESGO (>=40 y <60)

In [ ]:
idf['Año'] = idf['Año'].astype(str)
idf['Codigo DANE'] = idf['Codigo DANE'].astype(str)
idf['key'] = idf['Codigo DANE'] + '_' + idf['Año']

In [ ]:
idf['Nivel de Desempeño'].unique()

array(['SOSTENIBLE ( >=70 y <80 )', 'SOLVENTE (  >= 80 )',
       'VULNERABLE (>=60 y <70)', 'RIESGO (>=40 y <60)',
       'DETERIORO ( < 40)', '5.Solvente (>=80)',
       '4. Sostenible (>=70 y <80)', '3. Vulnerable (<=60 y <70)',
       '2. Riesgo (>=40 y < 60)', '1. Deterioro (<40)',
       '5. Solvente (>=80)', '3. Vulnerable (>=60 y <70)',
       '2. Riesgo (>=40 y <60)'], dtype=object)

In [ ]:
levels = {'SOSTENIBLE ( >=70 y <80 )':'4. Sostenible (>=70 y <80)',
          'VULNERABLE (>=60 y <70)':'3. Vulnerable (>=60 y <70)',
          '3. Vulnerable (<=60 y <70)':'3. Vulnerable (>=60 y <70)',
          'RIESGO (>=40 y <60)':'2. Riesgo (>=40 y <60)',
          'DETERIORO ( < 40)':'1. Deterioro (<40)',
          '5.Solvente (>=80)':'5. Solvente (>=80)',
          'SOLVENTE (  >= 80 )':'5. Solvente (>=80)',
          '2. Riesgo (>=40 y < 60)':'2. Riesgo (>=40 y <60)'}

idf['Nivel de Desempeño'] = idf['Nivel de Desempeño'].replace(levels)

In [ ]:
idf['Nivel de Desempeño'].unique()

array(['4. Sostenible (>=70 y <80)', '5. Solvente (>=80)',
       '3. Vulnerable (>=60 y <70)', '2. Riesgo (>=40 y <60)',
       '1. Deterioro (<40)'], dtype=object)

In [ ]:
idf['Indicador fiscal '] = idf['Indicador fiscal '].replace('N.D.',0)
idf['Indicador fiscal '] = idf['Indicador fiscal '].replace('N.D',0)

In [ ]:
idf['Indicador fiscal '] = idf['Indicador fiscal '].astype('float')

In [ ]:
idf

,Año,Codigo DANE,Departamento,Municipio,Indicador fiscal,Nivel de Desempeño,key
0,2012,5,ANTIOQUIA,ADMINISTRACIÓN DEPARTAMENTAL,71.73000,4. Sostenible (>=70 y <80),5_2012
1,2012,5001,ANTIOQUIA,MEDELLÍN,83.22000,5. Solvente (>=80),5001_2012
2,2012,5002,ANTIOQUIA,ABEJORRAL,69.68000,3. Vulnerable (>=60 y <70),5002_2012
3,2012,5004,ANTIOQUIA,ABRIAQUÍ,54.56000,2. Riesgo (>=40 y <60),5004_2012
4,2012,5021,ANTIOQUIA,ALEJANDRÍA,59.52000,2. Riesgo (>=40 y <60),5021_2012
...,...,...,...,...,...,...,...
10000,2020,97666,Vaupes,Taraira,32.22633,1. Deterioro (<40),97666_2020
10001,2020,68502,Santander,Onzaga,0.00000,5. Solvente (>=80),68502_2020
10002,2020,15839,Boyaca,Tutasa,0.00000,5. Solvente (>=80),15839_2020
10003,2020,70429,Sucre,Majagual,0.00000,5. Solvente (>=80),70429_2020
10004,2020,68235,Santander,El Carmen,0.00000,5. Solvente (>=80),68235_2020

In [ ]:
categories = pd.read_csv('categories.csv')

In [ ]:
categories = categories[['key','categoria']]

In [ ]:
idf = pd.merge(idf, categories, how='left', on='key', validate='one_to_one')

In [ ]:
idf.dropna(subset=['categoria'], inplace=True)

In [ ]:
idf.head()

,Año,Codigo DANE,Departamento,Municipio,Indicador fiscal,Nivel de Desempeño,key,categoria
1,2012,5001,ANTIOQUIA,MEDELLÍN,83.22,5. Solvente (>=80),5001_2012,ESP
2,2012,5002,ANTIOQUIA,ABEJORRAL,69.68,3. Vulnerable (>=60 y <70),5002_2012,6
3,2012,5004,ANTIOQUIA,ABRIAQUÍ,54.56,2. Riesgo (>=40 y <60),5004_2012,6
4,2012,5021,ANTIOQUIA,ALEJANDRÍA,59.52,2. Riesgo (>=40 y <60),5021_2012,6
5,2012,5030,ANTIOQUIA,AMAGÁ,71.29,4. Sostenible (>=70 y <80),5030_2012,6

In [ ]:
idf.to_csv('idf_final.csv', index=False, encoding='utf-8')

### Incomes vs expenses

In [ ]:
incomes = pd.read_csv('incomes.csv', encoding='utf-8')
expenses = pd.read_csv('expenses.csv', encoding='utf-8')

In [ ]:
incomes = incomes[['key','ICLD']]

In [ ]:
incomes.head()

          key         ICLD
0  91001_2012  24941077000
1  91001_2013  27789323000
2  91001_2014  29435176000
3  91001_2015  38667233000
4  91001_2016  36379531000

In [ ]:
expenses.head()

,Cód. DANE Departamento,Nombre DANE Departamento,Cód. DANE Municipio,Nombre DANE Municipio,Concepto,Unidad Ejecutora,Presupuesto Inicial,Presupuesto Definitivo,Compromisos,Obligaciones,Pagos,Año,categoria,key
0,11.0,BOGOTA. D.C.,11001,BOGOTA. D.C.,TOTAL GASTOS DE FUNCIONAMIENTO,SECRETARIA DE SALUD,48361823000,62252369000,56680701000,52886182000,52886182000,2012,ESP,11001_2012
1,11.0,BOGOTA. D.C.,11001,BOGOTA. D.C.,TOTAL GASTOS DE FUNCIONAMIENTO,SECRETARIA DE SALUD,50186796000,54175030000,42244047000,35086722000,35086722000,2013,ESP,11001_2013
2,11.0,BOGOTA. D.C.,11001,BOGOTA. D.C.,TOTAL GASTOS DE FUNCIONAMIENTO,SECRETARIA DE SALUD,74267833000,74260779000,39854420000,34719293000,34719293000,2014,ESP,11001_2014
3,11.0,BOGOTA. D.C.,11001,BOGOTA. D.C.,TOTAL GASTOS DE FUNCIONAMIENTO,SECRETARIA DE SALUD,73951605000,74993766000,52404647000,46511067000,46511067000,2015,ESP,11001_2015
4,11.0,BOGOTA. D.C.,11001,BOGOTA. D.C.,TOTAL GASTOS DE FUNCIONAMIENTO,SECRETARIA DE SALUD,78721142000,78139508000,54602575000,47166685000,47166685000,2016,ESP,11001_2016

In [ ]:
expenses_2 = expenses.groupby(['Año','categoria','Nombre DANE Departamento','Nombre DANE Municipio','key'])[['Compromisos']].sum().reset_index()

In [ ]:
exp_in = pd.merge(expenses_2, incomes, how='left', on='key', validate='one_to_one')

In [ ]:
exp_in.loc[exp_in['ICLD'].isnull()]

,Año,categoria,Nombre DANE Departamento,Nombre DANE Municipio,key,Compromisos,ICLD
1347,2013,6,BOLIVAR,EL CARMEN DE BOLIVAR,13244_2013,2378912000,NaN
2474,2014,6,BOLIVAR,TALAIGUA NUEVO,13780_2014,1208631000,NaN
3753,2015,6,CAUCA,GUAPI,19318_2015,1582835000,NaN
6021,2017,6,CHOCO,UNION PANAMERICANA,27810_2017,1619345,NaN
6856,2018,6,BOLIVAR,TIQUISIO,13810_2018,1493914428,NaN
7655,2018,6,VICHADA,CUMARIBO,99773_2018,3680440221,NaN
8173,2019,6,CESAR,PAILITAS,20517_2019,1640547548,NaN
8322,2019,6,CUNDINAMARCA,UBAQUE,25841_2019,1650186877,NaN
9715,2020,6,SANTANDER,ONZAGA,68502_2020,1266868404,NaN
9755,2020,6,SUCRE,MAJAGUAL,70429_2020,2896066929,NaN

In [ ]:
exp_in['ICLD'] = exp_in['ICLD'].fillna(0)

In [ ]:
exp_in['ICLD'] = exp_in['ICLD'].astype('int64')

In [ ]:
exp_in

,Año,categoria,Nombre DANE Departamento,Nombre DANE Municipio,key,Compromisos,ICLD
0,2012,1,ANTIOQUIA,BELLO,5088_2012,42454229000,2.325566e+11
1,2012,1,ANTIOQUIA,ENVIGADO,5266_2012,37583240000,2.154902e+11
2,2012,1,ANTIOQUIA,ITAGUI,5360_2012,46657885000,2.242362e+11
3,2012,1,CALDAS,MANIZALES,17001_2012,41389668000,2.618987e+11
4,2012,1,CESAR,VALLEDUPAR,20001_2012,32347325000,3.413036e+11
...,...,...,...,...,...,...,...
9847,2020,ESP,ANTIOQUIA,MEDELLIN,5001_2020,692977318324,3.860812e+12
9848,2020,ESP,ATLANTICO,BARRANQUILLA,8001_2020,437003045028,2.711560e+12
9849,2020,ESP,BOGOTA. D.C.,BOGOTA. D.C.,11001_2020,3287371157713,1.118507e+13
9850,2020,ESP,BOLIVAR,CARTAGENA,13001_2020,335972670185,1.809413e+12
9851,2020,ESP,VALLE DEL CAUCA,CALI,76001_2020,626112255519,3.381743e+12

In [ ]:
exp_in.to_csv('exp_in.csv', encoding='utf-8', index=False)